<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.OrderSatisfactionConfigMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.OrderSatisfactionConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="customer_category" column="customer_category" jdbcType="VARCHAR"/>
            <result property="delivery_limit" column="delivery_limit" jdbcType="INTEGER"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="creation_time" column="creation_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brand,customer_category,
        delivery_limit,creator,creation_time,
        updater,update_time,isDelete
    </sql>
</mapper>
