<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.ProductsMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.Products">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="specification" column="specification" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="price_level" column="price_level" jdbcType="OTHER"/>
            <result property="current_stock" column="current_stock" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brand,specification,
        price,price_level,current_stock
    </sql>

    <select id="listByStruct" resultType="com.yupi.springbootinit.model.vo.StructAnalyzeVO">
        SELECT
            products.brand            AS brand,
            specification    AS specification,
            price_level      AS priceLevel,
            regions.affiliated_region AS region,
            customer_orders.sales_channel             AS salesChannel,
            customer_orders.order_quantity            AS orderQuantity,
            order_satisfaction_config.customer_category AS customerCategory
        FROM products
                 join customer_orders on products.id = customer_orders.product_id
                 join regions on customer_orders.region_id = regions.id
                 join order_satisfaction_config on customer_orders.order_satisfaction_config_id = order_satisfaction_config.id
        WHERE products.brand = #{brand}
    </select>
</mapper>
